


<div class="search-container">
    <label for="searchInput" class="search-label">Search Coffees:</label>
    <input type="text" id="searchInput" [(ngModel)]="searchQuery" (input)="onSearch()" class="search-input">
</div>

  <div *ngFor="let coffee of searchedCoffees" class="container">
    <img [src]="coffee.image_url" alt="{{ coffee.name }} Image" class="image">
    <p><strong>name:</strong> {{ coffee.name }}</p>
    <p><strong>Tagline:</strong> {{ coffee.tagline }}</p>
    <p><strong>First Roasted:</strong> {{ coffee.first_roasted }}</p>
    <p><strong>Strength Level:</strong> {{ coffee.strength_level }}</p>
    <p><strong>Description:</strong> {{ coffee.description }}</p>
    <p><strong>Contributed By:</strong> {{ coffee.contributed_by }}</p>

  </div>