 <div class="center-image">
  <img src="assets/images/header.png" alt="Header Image">
</div>

<div class="search-container">
  <label for="searchInput" class="search-label">Search Coffees:</label>
  <input type="text" id="searchInput" [(ngModel)]="searchQuery" (input)="onSearch()" class="search-input">
</div>

<div *ngFor="let coffee of coffee" class="container"> </div>


<section class="gallery">
  <div class="picture" *ngFor="let coffeeItem of coffee">
    <a [routerLink]="['/CoffeList/SingleCoffee/' + coffeeItem._id]">
      <div class="coffee-container">
        <img [src]="coffeeItem.image_url" alt="Coffee Image">
        <h2>{{ coffeeItem.name }}</h2>
        <p>{{ coffeeItem.tagline }}</p>
        <p>Contributed By: {{ coffeeItem.contributed_by }}</p>
      </div>
    </a>
  </div>
</section>
