<div class="center-image">
  <!-- <img src="assets/images/header.png" alt="Header Image"> -->
</div>

<section class="gallery">
  <div class="coffee-container" *ngFor="let coffeeItem of coffee">
    <a [routerLink]="['/CoffeList/SingleCoffee/' + coffeeItem._id]">
      <div class="coffee-card">
        <img [src]="coffeeItem.image_url" alt="Coffee Image">
        <div class="card-details">
          <h2>{{ coffeeItem.name }}</h2>
          <p>{{ coffeeItem.tagline }}</p>

        </div>
      </div>
    </a>
  </div>
</section>
