<img src="assets\images\coffees.jpg" alt="All coffee" class="imged" />
<h1><a [routerLink]="['/CoffeList/']">All Coffees</a></h1>    

<p>------------------------------------------------------------------------------</p>
<img src="assets\images\random-coffee.jpg" alt="Random Coffee" class="imged"/>
<h1>Random Coffee</h1>
<p>------------------------------------------------------------------------------</p>
<img src="assets\images\new-coffee.jpg" alt="new coffee"  class="imged"/>
<h1><a [routerLink]="['/CreateCoffee/']">New Coffee</a></h1>
<p>--------------------------------------------------------------------------------</p>

