.header{
z-index: 9999;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);}
.img-container {
  position: relative;
  text-align: center;
  color: white;
  
}
.header img{
  width: 100px;
  padding: 20px;
}

#section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  text-align: center;
  margin-top: 10%;
  
}



#section-1 h2 > span {
  border-bottom: 4px solid #00b172;
}

#section-1 .internal-div h2  {
  color: #00b172;
}

#section-1 p {
  font-weight: 100;
  font-size: 1.5em;
  text-align: center;
}

#section-1 img {
  width: 120px;
  margin-bottom: 1rem;
}

#section-1 .external-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: baseline;
  width: 90%;
}

#section-1 .internal-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 30%;
}

.search-container {
     display: flex;
     margin: 0 auto 100px ;
     padding: 0px;
     /* text-align: center; */
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 60%;
   }
   
   .search-label {
     font-weight: bold;
     margin-right: 10px;
     font-size: 20px;
     color: #000000;
   }
   
   .search-input {
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 14px;
   }
.internal-div{
  position: relative;
  z-index: 1;
  background: #ffffff;
  width: 50%;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  box-decoration-break: slice;
}