/* Add these styles to your existing CSS file or create a new one */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
}

.header img {
  margin-right: 20%;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-label {
  color: #fff;
  margin-right: 10px;
}

.search-input {
  padding: 5px;
}

.img-container {
  position: relative;
  overflow: hidden;
  height: 300px;
}

#img-back {
  width: 100%;
  height: 150%;
  /* object-fit: cover; */
}

#section-1 {
  background-color: #f9f9f9;
  padding: 20px;
}

.external-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.internal-div {
  text-align: center;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.internal-div img {
  margin-bottom: 10px;
}

.internal-div h2 {
  color: #333;
}

.internal-div a {
  text-decoration: none;
  color: #333;
}

.internal-div p {
  color: #666;
}
